.container {
  width: 100vw;
  height: 100vh;

  background: #FFF1B6;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  width: 70%;
  height: 70%;

  background: #FFF;

  box-shadow: 40px 40px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

h1 {
  font-size: 22px;
  text-align: center;

  margin-bottom: 40px;
}

.buttons {
  width: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 300px;
  width: 300px;

  background: #FFF;

  border: solid 5px #D9D9D9;
  border-radius: 8px;

  cursor: pointer;
}

img {
  height: 250px;
  width: 250px;
}

.buttons-name {
  width: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  width: 300px;

  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
