.container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

app-menu-bar {
  width: 100%;
}

.header {
  width: 70%;

  margin-top: 20px;
}

.perfil-content {
  width: 70%;
}

.information-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-top: 50px;
}

.photo {
  margin-right: 50px;
}

img {
  width: 150px;
}

#name {
  font-size: 20px;
  font-weight: 700;

  color: #EF6611;
}

.edit-area, form {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  margin-top: 20px;
}

.form-group {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#name-group,
#cpf-group {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  flex-direction: column;
}

#email-group,
#phone-group,
#street-group,
#neighborhood-group,
#state-group {
  width: 60%;
}

#password-group,
#born-group,
#number-group,
#city-group {
  width: 40%;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  flex-direction: column;

  margin-left: 20px;
}

#name_input,
#cpf,
#email,
#password,
#phone_number,
#born_date,
#street,
#number,
#neighborhood,
#city,
#state {
  width: 100%;
}

input {
  height: 40px;

  background: #FFF;

  border: 3px solid #D5D5D5;
  border-radius: 10px;

  padding-left: 10px;
}

label, p {
  font-weight: 700;
  font-size: 14px;

  color: rgba(0, 0, 0, 0.48);

  margin-top: 5px;
}

.button-area {
  width: 100%;

  margin-top: 90px;
  margin-bottom: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#save-btn {
  width: 70%;
  height: 40px;

  background: #EF6611;

  border: none;
  border-radius: 10px;

  color: #FFF;
  font-weight: 700;

  cursor: pointer;
}

#save-btn:hover {
  background: #F18847;
}

