<div class="container">
  <app-menu-bar></app-menu-bar>
  <div class="header">
    <app-go-back-button></app-go-back-button>
  </div>
  <div class="perfil-content">
    <div class="information-area">
      <div class="info">
        <p id="name">{{ donor.name }}</p>
        <p id="email">{{ donor.email }}</p>
      </div>
    </div>
    <div class="edit-area">
      <form action="">
        <div class="form-group" id="name-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name_input" name="name" [(ngModel)]="donor.name" required>
        </div>
        <div class="form-group">
          <div id="email-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="donor.email" required>
          </div>
          <div id="password-group">
            <label for="name">Senha</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="donor.password" required>
          </div>
        </div>
        <div class="form-group">
          <div id="phone-group">
            <label for="phone_number">Telefone</label>
            <input type="tel" class="form-control" id="phone_number" name="phone_number" [(ngModel)]="donor.phone_number" required>
          </div>
          <div id="born-group">
            <label for="born_date">Data de Nascimento</label>
            <input type="date" class="form-control" id="born_date" name="born_date" [(ngModel)]="donor.birthdate" required>
          </div>
        </div>
      </form>
    </div>
    <div class="button-area">
      <button id="save-btn" (click)="updateDonor()">Salvar Alterações</button>
    </div>
  </div>
</div>
