<div class="container">
  <app-menu-bar></app-menu-bar>
  <div class="header">
    <app-go-back-button></app-go-back-button>
  </div>
  <div class="perfil-content">
    <div class="information-area">
      <div class="info">
        <p id="name">{{ donor.name }}</p>
        <p id="email">{{ donor.email }}</p>
      </div>
    </div>
    <div class="edit-area">
      <form action="">
        <div class="form-group" id="name-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name_input" name="name" [(ngModel)]="donor.name">
        </div>
        <div class="form-group" id="cpf-group">
          <label for="cpf">CPF</label>
          <input type="number" class="form-control" id="cpf" name="cpf" [(ngModel)]="donor.cpf">
        </div>
        <div class="form-group">
          <div id="email-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="donor.email">
          </div>
          <div id="password-group">
            <label for="name">Senha</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="donor.password">
          </div>
        </div>
        <div class="form-group">
          <div id="phone-group">
            <label for="phone_number">Telefone</label>
            <input type="tel" class="form-control" id="phone_number" name="phone_number" [(ngModel)]="donor.phone_number">
          </div>
          <div id="born-group">
            <label for="born_date">Data de Nascimento</label>
            <input type="date" class="form-control" id="born_date" name="born_date" [(ngModel)]="donor.birthdate">
          </div>
        </div>
        <div class="form-group">
          <div id="street-group">
            <label for="street">Endereço</label>
            <input type="text" class="form-control" id="street" name="street" [(ngModel)]="donor.street">
          </div>
          <div id="number-group">
            <label for="number">Número</label>
            <input type="number" class="form-control" id="number" name="number" [(ngModel)]="donor.number">
          </div>
        </div>
        <div class="form-group">
          <div id="neighborhood-group">
            <label for="neighborhood">Bairro</label>
            <input type="text" class="form-control" id="neighborhood" name="neighborhood" [(ngModel)]="donor.neighborhood">
          </div>
          <div id="city-group">
            <label for="city">Cidade</label>
            <input type="text" class="form-control" id="city" name="city" [(ngModel)]="donor.city">
          </div>
        </div>
        <div class="form-group">
          <div id="state-group">
            <label for="state">Estado</label>
            <input type="text" class="form-control" id="state" name="state" [(ngModel)]="donor.state">
          </div>
        </div>
      </form>
    </div>
    <div class="button-area">
      <button id="save-btn" (click)="updateDonor()">Salvar Alterações</button>
    </div>
  </div>
</div>
