.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

app-menu-bar {
  width: 100%;
}

.header {
  width: 70%;

  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 70%;
}

.title-area,
.body {
  width: 70%;
}

h1 {
  margin-top: 80px;
}

.card {
  width: 100%;

  background: #FFFAE5;

  border: none;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  margin-top: 30px;
}

.form-header {
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 15px;
}

select {
  height: 40px;

  background: #FFF;

  border: none;
  border-radius: 10px;

  color: rgba(0, 0, 0, 0.48);
  font-weight: 700;
}

img {
  width: 105px;
}

#goalRequest {
  width: 250px;
}

.form {
  width: 90%;
}

p {
  height: 40px;

  background: #F5F5F5;

  border: none;
  border-radius: 10px;

  color: rgba(0, 0, 0, 0.48);
  font-weight: 700;

  display: flex;
  align-items: center;

  padding-left: 15px;
}

.second-line,
.third-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 25px;
}

#weight,
#price,
#totalPrice,
#priority {
  width: 300px;
}

#unit {
  width: 200px;
}

.priority {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  flex-direction: column;
}

#labelPriority {
  align-self: flex-start;
}

#priority {
  height: 40px;
  align-self: flex-start;
}

label {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.48);

  margin-bottom: 5px;
  margin-left: 3px;
}

button {
  width: 150px;
  height: 30px;

  background: #00AA30;

  border: none;
  border-radius: 8px;

  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;

  margin-top: 50px;
  margin-bottom: 30px;

  cursor: pointer;
}



