<div class="container">
  <app-menu-bar></app-menu-bar>
  <div class="header">
    <app-go-back-button></app-go-back-button>
  </div>
  <div class="title-area">
    <h1>Incluir Solicitação de Produto ou Serviço</h1>
  </div>
  <div class="body">
    <div class="card">
      <div class="form-header">
        <select name="goalRequest" id="goalRequest" [(ngModel)]="opcaoSelecionada" (ngModelChange)="selecionarOpcao()" [ngModelOptions]="{ standalone: true }">
          <option value="">Selecione uma opção</option>
          <option *ngFor="let goal of goalList" value="{{ goal.value }}">{{ goal.option }}</option>
        </select>
        <img src="../../../assets/images/doaPet-logo.svg" alt="Logo DoaPet">
      </div>
      <div class="form">
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
          <div class="first-line">
            <label id="labelName" for="name">Nome</label>
            <select id="name" name="name" [(ngModel)]="nameSelected" (ngModelChange)="selectedName()" [ngModelOptions]="{ standalone: true }">
              <option value="">Selecione uma opção</option>
              <option *ngFor="let name of listNames" [value]="name.id">{{ name.name }}</option>
            </select>
          </div>
          <div class="second-line">
            <div class="unit">
              <label for="unit">Unidade</label>
              <p id="unit">{{ listSelected.measure }}</p>
            </div>
            <div class="quantity">
              <label for="quantity">Quantidade</label>
              <input type="number" id="quantity" name="quantity" [(ngModel)]="typedValue" (input)="catchTypedValue()" [ngModelOptions]="{ standalone: true }">
            </div>
            <div class="priority">
              <label for="priority" id="labelPriority">Prioridade</label>
              <select name="priority" name="priority" id="priority" [(ngModel)]="order.priority_level_status">
                <option value="">Selecione uma opção</option>
                <option value="Baixo">Baixa</option>
                <option value="Medio">Média</option>
                <option value="Alto">Alta</option>
              </select>
            </div>
          </div>
          <div class="third-line">
            <div class="price">
              <label for="price">Valor Unitário</label>
              <p id="price">R$ {{ listSelected.price }}</p>
            </div>
            <div class="totalPrice">
              <label for="totalPrice">Valor Total</label>
              <p id="totalPrice" [(ngModel)]="order.total_price" [ngModelOptions]="{ standalone: true }">R$ {{ (this.typedValue * this.realValue).toFixed(2) }}</p>
            </div>
          </div>
          <button type="submit">Incluir</button>
        </form>
      </div>
    </div>
  </div>
</div>
