#btn-light-orange {
  background: #FF8D37;

  font-size: 18px;
  font-weight: 700;

  color: #FFF;

  border: none;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin-left: 10px;
}
