.ong-area {
  width: 68vw;
  height: 120px;

  border: solid 1px #EF6611;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: auto;
  margin-top: 5vh;

  padding: 0 20px 0 20px;
}

.cards-donation {
  width: 100%;

  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
}

