.ong-area {
  width: 68vw;
  height: 120px;

  border: solid 1px #EF6611;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: auto;
  margin-top: 5vh;

  padding: 0 20px 0 20px;
}

#name_title {
  font-size: 20px;
  font-weight: 700;

  color: #EF6611;
}

.cards-donation {
  width: 100%;

  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
}

.modal-overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  visibility: visible;

  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: #F0F2F5;

  width: 50%;

  padding: 2rem;
  padding-top: 1.5rem;

  position: relative;
  z-index: 1;

  border-radius: 10px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  background-color: #F0F2F5;
  font-size: 20px;
  color: #EF6611;

  border: none;
}

#name_ong {
  font-size: 16px;
  font-weight: bold;
  color: #EF6611;
}

#pix_ong {
  margin-top: 20px;
  text-align: center;
}

.modal-footer {
  margin-top: 30px;

  font-size: 12px;
  text-align: center;
}

#closeButton {
  cursor: pointer;
}

