<div class="container">
  <app-menu-bar></app-menu-bar>
  <div class="header">
    <app-go-back-button></app-go-back-button>
  </div>
  <div class="title-area">
    <h1>Incluir Produto</h1>
  </div>
  <div class="body">
    <div class="card-form">
      <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="form-group" id="name-group">
          <input type="text" name="name" id="name" placeholder="Nome" [(ngModel)]="product.name">
        </div>
        <div class="form-group" id="info-group">
          <select name="category" id="category" [(ngModel)]="product.product_category">
            <option value="default" selected>Selecione uma categoria</option>
            <option *ngFor="let category of listCategories" [value]="category">{{ category }}</option>
          </select>
          <select name="unit" id="unit" [(ngModel)]="product.measure">
            <option value="default" selected>Selecione uma medida</option>
            <option *ngFor="let measure of listMeasurements" [value]="measure">{{ measure }}</option>
          </select>
          <input type="text" id="price" placeholder="Valor Unitário" (input)="handleChange($event)">
        </div>
        <button type="submit">Incluir</button>
      </form>
    </div>
  </div>
</div>
