<div class="container">
  <app-menu-bar></app-menu-bar>
  <div class="header">
    <app-go-back-button></app-go-back-button>
  </div>
  <div class="title-area">
    <h1>Incluir Produto</h1>
  </div>
  <div class="body">
    <div class="card-form">
      <form action="">
        <app-input-inside
        [inputPlaceholder]='namePlaceholder'
        [inputType]='nameType'
        [inputStyle]='nameStyle'
        ></app-input-inside>
        <select name="category" id="category">
          <option value="" disabled selected>Selecione a categoria</option>
        </select>
        <app-input-inside
        [inputPlaceholder]='weightPlaceholder'
        [inputType]='weightType'
        [inputStyle]='weightStyle'
        ></app-input-inside>
        <select name="unit" id="unit">
          <option value="" disabled selected>Unidade</option>
        </select>
        <app-input-inside
        [inputPlaceholder]='pricePlaceholder'
        [inputType]='priceType'
        [inputStyle]='priceStyle'
        ></app-input-inside>
      </form>
      <button>Incluir</button>
    </div>
  </div>
</div>
