.container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-area {
  width: 30%;
  height: 900px;

  background: #FFF1B6;

  display: flex;
  align-items: center;
  justify-content: center
}

img {
  width: 400px;
}

.data-area {
  width: 70%;
  // height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.title-area {
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 15px;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #EF6611;
}

form {
  width: 90%;
}

#image-data {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  flex-direction: column;
}

label, p {
  font-weight: 700;
  font-size: 14px;

  color: rgba(0, 0, 0, 0.48);

  margin-top: 5px;
}

#upload-area,
#image-input {
  width: 100%;
}

#upload-area {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  border: dashed 3px #D5D5D5;

  margin-top: 5px;
  margin-bottom: 15px;

  cursor: pointer;
}

#image-input::-webkit-file-upload-button {
  width: 100%;

  background: #FFF;

  border: none;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;

  color: rgba(0, 0, 0, 0.48);

  cursor: pointer;
}

#image-input {
  background: red;
  align-self: center;
}

.image-data img {
  display: block;
  max-width: 100%;
  margin-top: 10px;
}


#login-data,
#contact-data,
#adress-data,
#city-data,
#estate-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#description {
  width: 100%;
  height: 100px;

  border: 3px solid #D5D5D5;
  border-radius: 10px;

  margin-top: 5px;

  outline: none;
}

#description:focus {
  border: 2.5px solid #EF6611;
}

#description-area {
  margin-top: 20px;
}

#label-description {
  font-weight: 700;
  font-size: 14px;

  color: rgba(0, 0, 0, 0.48);
}


