.card {
  width: 70vw;
  height: 200px;

  border: solid 1px #EF6611;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: auto;
  margin-top: 30px;
}

.info-area {
  width: 70%;
  height: 100%;

  display: flex;
  align-items: start;
  justify-content: center;

  flex-direction: column;
}

.btn-area {
  width: 30%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.first-line,
.second-line,
.third-line {
  display: flex;
  align-items: center;

  width: 100%;
}

p {
  background: #F5F5F5;

  width: 95%;
  height: 35px;

  border: none;
  border-radius: 8px;

  margin: 0 10px 10px 10px;
  padding-left: 10px;

  display: flex;
  align-items: center;
}

label {
  font-size: 12px;
  margin-left: 12px;
}

#quantity {
  width: 340px;
}

#price,
#totalPrice {
  width: 340px;
}

#unit {
  width: 340px;

  margin-top: 20px;
}

button {
  width: 60%;
  height: 25px;

  background:#EF6611;

  border: none;
  border-radius: 8px;

  color: #FFF;
  font-weight: 700;

  margin-top: 15px;

  cursor: pointer;
}
