<div class="card">
  <div class="info-area">
    <div class="first-line">
       <p id="name">{{ name }}</p>
    </div>
    <div class="second-line">

      <p id="unit">{{ unit }}</p>
      <div class="quantity">
        <label for="quantity">Quantidade</label>
        <p id="quantity">{{ quantity}} unidades</p>
      </div>
    </div>
    <div class="third-line">
      <div class="price">
        <label for="price">Valor Unitário R$</label>
        <p id="price">{{ price }}</p>
      </div>
      <div class="totalPrice">
        <label for="totalPrice">Valor Total R$</label>
        <p id="totalPrice">{{ totalPrice }}</p>
      </div>
    </div>
  </div>
  <div class="btn-area" *ngIf="userType != 'ong'">
    <app-priority></app-priority>
    <button id="donation-button" onclick="openModal()">Doar</button>
  </div>
  <div class="btn-area" *ngIf="userType != 'donor'">
    <app-priority></app-priority>
    <select name="status" id="status">
      <option value="finalized">Finalizado</option>
      <option value="canceled">Cancelado</option>
      <option value="pending" selected>Pendente</option>
    </select>
    <div class="action-buttons">
      <button id="btn-action">
        <img src="../../../assets/icons/pencil.svg" alt="Editar">
      </button>
      <button id="btn-action">
        <img src="../../../assets/icons/check.svg" alt="Finalizar">
      </button>
      <button id="btn-action">
        <img src="../../../assets/icons/trash.svg" alt="Cancelar">
      </button>
    </div>
  </div>
</div>
