<div class="container">
  <div class="card">
    <div class="title-area">
      <h1>Você é uma ONG ou um Doador?</h1>
    </div>
    <div class="button-area">
      <div id="btn-ong">
        <button (click)="goToOng()">
          <img src="../../../assets/images/ong.svg" alt="Ong">
        </button>
        <span>ONG</span>
      </div>
      <div id="btn-donor">
        <button (click)="goToDonor()">
          <img src="../../../assets/images/user.svg" alt="Doador">
        </button>
        <span>Doador</span>
      </div>
    </div>
  </div>
</div>
