<div class="container">
  <app-menu-bar></app-menu-bar>
  <div class="search-area">
    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Pesquisar"/>
    </span>
  </div>
  <div class="ongs-list">
    <div class="list-container">
      <div class="logo-ong">
        <img src="../../../assets/images/ong-example.svg" alt="Ong Logo">
      </div>
      <div class="detail-area">
        <button id="see-detail-btn">ver detalhes</button>
      </div>
    </div>
    <div class="list-container">
      <div class="logo-ong">
        <img src="../../../assets/images/ong-example2.svg" alt="Ong Logo">
      </div>
      <div class="detail-area">
        <button id="see-detail-btn">ver detalhes</button>
      </div>
    </div>
  </div>
</div>
