.container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

app-menu-bar {
  width: 100%;
}

.search-area {
  width: 75%;

  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  width: 100%;

  margin-top: 50px;
}

input {
  width: 100%;
  height: 40px;

  border: 2px solid #EF6611;
  border-radius: 10px;

  padding-left: 10px;
}

#name_title {
  font-size: 16px;
  font-weight: 700;

  color: #EF6611;
}

#location {
  font-size: 14px;
}

.ongs-list {
  width: 75%;

  margin-top: 50px;
}

.list-ongs {
  width: 100%;
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
}

.logo-ong {
  border: 1px solid #EF6611;

  width: 230px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

#see-detail-btn {
  width: 150px;
  height: 40px;

  background: rgba(255, 98, 0, 0.7);

  border: none;
  border-radius: 10px;

  color: #FFF;
  font-weight: 700;

  cursor: pointer;
}
