<div class="container">
  <app-menu-bar></app-menu-bar>
  <div class="search-area">
    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Pesquisar"/>
    </span>
  </div>
  <div class="ongs-list">
    <div class="list-container">
      <div class="logo-ong">
        <p id="name_title">Focinhos Carinhosos</p>
        <p id="location">Campinas, São Paulo</p>
      </div>
      <div class="detail-area">
        <button id="see-detail-btn">ver detalhes</button>
      </div>
    </div>
    <div class="list-container">
      <div class="logo-ong">
        <p id="name_title">Anjos de 4 Patas</p>
        <p id="location">Mogi Mirim, São Paulo</p>
      </div>
      <div class="detail-area">
        <button id="see-detail-btn">ver detalhes</button>
      </div>
    </div>
  </div>
</div>
