<div class="container">
  <app-menu-bar></app-menu-bar>
  <div class="search-area">
    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Pesquisar"/>
    </span>
  </div>
  <div class="ongs-list">
    <div class="list-container" *ngFor="let ong of listOngs">
      <div class="logo-ong">
        <p id="name_title">{{ ong['name'] }}</p>
        <p id="location">{{ ong['city'] }}, {{ ong['state'] }}</p>
      </div>
      <div class="detail-area">
        <button id="see-detail-btn" (click)="goTo(1)">ver detalhes</button>
      </div>
    </div>
  </div>
</div>
